section{
    background: rgb(249, 208,33);
}
div {
    background: rgb(249, 208,33);
}



#mainNav .navbar-nav .nav-item .nav-link,
#mainNav .navbar-brand {
    color: #424242;
}
#mainNav .navbar-brand.active, 
#mainNav .navbar-brand:active, 
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

#mainNav .navbar-toggler {
    color: #424242;
}

#mainNav {
    background-color: rgb(249, 208,33);
    padding-top: 8px;
    padding-bottom: 8px;
}
@media (min-width: 992px)  {
    #mainNav, 
    #mainNav.navbar-shrink{
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgb(249, 208,33);
    } 
}

#mainNav .navbar-toggler {
    background-color: rgb(249, 208,33);
    font-size: 14px;
}

.padding-left-right-20-percent {
    padding-left: 20%;
    padding-right: 20%;
}
.margin-left-right-20-percent {
    margin-left: 20%;
    margin-right: 20%;
}

div.header div.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;    
    padding-bottom: 30px;
}

div.header div.title p {
    color: #424242;
    margin: 0;
    line-height: 1.2em;
}
div.header div.title p.line1,
div.header div.title p.line2 {
    font-size: 32px;
    font-weight: 500;
}
div.header div.title p.line3 {
    font-size: 46px;
    font-weight: 600;
}
div.header div.title p.last-line {
    border-bottom: solid 1px;
}
div.header .img-card p.first-line{
    font-size: 32px;
}
div.img-card {
	color: white;
	background-image: url("../img/card.png");
	background-color: rgb(249, 208,33);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 22px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 10px;
	padding-right: 12px;
	padding-left: 4px;
}
div.img-card p{
	margin: 0;
	line-height: 1.2em;
}

section.cover {
    padding-top: 0;
    padding-bottom: 20px;
}
#cover-logo{

    display: block;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    margin-left: auto;
    margin-right: auto;
}

#cover-title {
    /* font-family: "Lato,'Helvetica Neue',Arial,Helvetica,sans-serif"; */
    color: #424242;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:768px) {
    #cover-title {
        font-size: 30px;
    }
    #logo-text {
        display: block;
    }
}
@media (max-width: 576px) {
    #logo-text {
        display: none;
    }
    #cover-title {
        font-size: 17px;
    }
    div.header div.title p.line1,
    div.header div.title p.line2 {
        font-size: 26px;
    }
    div.header div.img-card {
	font-size: 20px;
	min-width: 200px;
	margin-left: 10%;
	margin-right: 10%;
    }
    div.header div.title p.line3 {
        font-size: 29px;
    }
    div.header .img-card p.first-line {
        font-size: 25px;
    }    
}

.cover.btn {
    background-color: #e8c222;
    border-color: #b99d26;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover {
    background-color: #fe9c10 !important;
    border-color: #e8c222 !important;
}
.pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 0.75s infinite;
}
  /* for pulse --- start */
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(169, 77, 0, 0.4);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(169, 77, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(169, 77, 0, 0.4);
    }
  }
/* for pulse --- end */

.into-imgs div.img {
    margin-bottom: 12px;
}
.into-imgs img {
    width: 100%;
}

section h2.section-heading {
    margin-bottom: 32px;
    font-size: 35px;
}
section h3.section-subheading {
    margin-bottom: 24px;
}

.center-cropped {
    width: 160px;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
}

#information div.infor,
#sponsor div.sponsor,
#judges div.judges  {
    background-image: url("../img/JUDGE.png"); 
    background-color: rgb(249, 208,33); 
    background-repeat: no-repeat;
    background-size: 97% 97% ;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 22px;
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 4px;
}
#information div.infor img,
#sponsor div.sponsor img,
#judges div.judges img {
    padding-right: 6px;
    padding-left: 4px;
    width: 100%;
}

#sponsor img {
    width: 100%;

}

#information div.infor {
    padding-right: 32px;

}

.sponsor {
    margin-bottom: 40px;
}

.sponsor p {
    margin-bottom: 0px;
    line-height: 24px;
}

.sponsor p.name {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 8px;
}
.sponsor p.job {
    font-size: 13px;
}
.sponsor p.title {
}

#attention ol {
  counter-reset: item;
  margin-bottom: 4px;
}

#attention li {
    display: block;
    margin-bottom: 4px;
}

#attention li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  margin-bottom: 4px;
}

#information .info-item {
    margin-bottom: 24px;
}
#information .info-item span.badge {
    padding: 6px 12px;
    margin-right: 10px;
    font-size: 100%
}

#information thead {
    background-color: #fbbd08;
}
.table thead th {
    border: none;
    border-bottom: 2px solid #efb305;
}

#information td {
    border: none;
    border-bottom: 1px solid #dee2e6;
}

footer,
footer div {
    background: rgb(243, 199, 13);
}
footer a {
    color: rgb(232, 149, 35);
}
